.header-icons > button {
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;

  border: none;
  text-align: center;
}

.header-icons > button > svg {
  width: 2.5rem;
  height: 2.5rem;
}
.header-icons > button > svg > path {
  fill: var(--Buttons-color);
}
