@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&family=Syne+Mono&display=swap");

@import "tailwindcss";

/* Example how Import Theme and Use*/
@theme {
  --font-Limelight: "Limelight", sans-serif;
  --font-PoiretOne: "Poiret One", sans-serif;
  --font-SyneMono: "Syne Mono", monospace;
}
/* Use 
 <className="font-Limelight"/>
*/

:root {
  /* Add a custom font */
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme */
  color-scheme: light dark;
  /* Basically color-scheme checks what the system (OS) color scheme is and chooses between light or dark */
  --Primary-color: black; /* Dark - Default */
  --Secondary-color: #2d1657;
  --Primary-color-light: beige;
  --Secondary-color-light: #744000;

  /* This is Scheme for BackGround and Fonts y Buttons For Default*/
  --BackGroundColor-light: #f5efff;
  --ButtonsColor-light: #222831cb;
  --FontColor-light: #222831;
  --IconColor-light: #282a36;

  --Box-Shadow-tinny-light: rgb(0, 0, 0, 0.15);
  --Box-Shadow-bold-light: rgb(0, 0, 0, 0.33);

  --BackGroundColor: #352f44;
  --ButtonsColor: #f5efffcb;
  --FontColor: #faf0e6;
  --IconColor: #faf0e6;

  --Box-Shadow-tinny: rgb(255, 255, 255, 0.15);
  --Box-Shadow-bold: rgb(255, 255, 255, 0.33);

  --Buttons-size: 2.25rem;

  /* Test Colors Scheme... Sebastian decide*/
  /* https://colorhunt.co/palette/f8ededff8225b43f3f173b45 */
  /*https://colorhunt.co/palette/f79b722a4759ddddddeeeeee*/
  --Primary-Scheme-light: #fe7743;
  --Secondary-Scheme-light: #efeeea;
  --Tertiary-Scheme-light: #273f4f;
  --Quaternary-Scheme-light: #000000;

  /* https://colorhunt.co/palette/352f445c5470b9b4c7faf0e6 */
  --Primary-Scheme: #222831;
  --Secondary-Scheme: #31363f;
  --Tertiary-Scheme: #76abae;
  --Quaternary-Scheme: #eeeeee;

  /* https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/light-dark */
  --Bg-color: light-dark(var(--BackGroundColor-light), var(--BackGroundColor));
  --Text-color: light-dark(var(--FontColor-light), var(--FontColor));

  --BoxShadow-tinny: light-dark(
    var(--Box-Shadow-tinny-light),
    var(--Box-Shadow-tinny)
  );
  --BoxShadow-bold: light-dark(
    var(--Box-Shadow-bold-light),
    var(--Box-Shadow-bold)
  );

  --Buttons-color: light-dark(var(--ButtonsColor-light), var(--ButtonsColor));

  --ButtonText-color: light-dark(
    var(--BackGroundColor-light),
    var(--BackGroundColor)
  );

  --Primary-Color: light-dark(
    var(--Primary-Scheme-light),
    var(--Primary-Scheme)
  );
  --Secondary-Color: light-dark(
    var(--Secondary-Scheme-light),
    var(--Secondary-Scheme)
  );
  --Tertiary-Color: light-dark(
    var(--Tertiary-Scheme-light),
    var(--Tertiary-Scheme)
  );
  --Quaternary-Color: light-dark(
    var(--Quaternary-Scheme-light),
    var(--Quaternary-Scheme)
  );

  background: var(--Bg-color);
  color: var(--Text-color);
  transition: background-color 0.8s, color 0.5s;
  padding: 0;
  margin: 0;
}
/* 

* Best Compatibility with A settings SetUp...
:root:has(option[value="theme-light"]:checked) {
  color-scheme: light;
}

:root:has(option[value="theme-dark"]:checked) {
  color-scheme: dark;
}

:root:has(option[value="theme-system"]:checked) {
  color-scheme: light dark;
} */

:root:has(input[id="toggleTheme"]:checked) {
  color-scheme: light;
}

:root:has(input[id="toggleTheme"]) {
  color-scheme: dark;
}
/* https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme */
/* @media (prefers-color-scheme: light) {

} */

/* html {
    background-color: black;
    height: 100vh;
    width: 100vw;
} */

button {
  padding: 0;
  border: 0;
  cursor: pointer;
  background: none;
  border: none;
  transition: background-color 0.66s, opacity 0.66s;
}

.btn-icon > svg {
  width: var(--Buttons-size);
  fill: none;
  stroke: var(--Buttons-color);
  stroke-width: 1.5;
}
.btn-icon > svg > path {
  stroke-linecap: round;
  stroke-linejoin: round;
}

.btn-text {
  border-radius: 12px;
  padding: 4px;
  background-color: var(--Buttons-color);
  color: var(--ButtonText-color);
}

.btn-text:hover {
  transform: scale(1.05);
  box-shadow: 2.5px 5px 10px var(--BoxShadow-tinny);
}
.btn-text:active {
  transform: scale(1.1);
  box-shadow: 2.5px 5px 15px var(--BoxShadow-bold);
  opacity: 0.6;
}
